body {
    font-family: Arial, sans-serif;
    background-color: rgb(214, 211, 211);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .container {
    background: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
} */

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: red;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}
